<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  {{> header}}
  <link rel="stylesheet" href="index.css">
  <title>DAM1M04-Exercici302-MySQL</title>
</head>
<body>
  {{> menu}}

  <main class="container">
    <h1>DAM1M04-Exercici302-MySQL</h1>

    <section class="cols-2">
      <article class="card">
        <h2>Consultes a BBDD</h2>

        <ul class="list">
          {{#each movies}}
            <li class="list-item">
              <strong>{{titol}}</strong><br>
              <span class="muted">{{any}}</span>
            </li>
          {{/each}}
        </ul>
      </article>

      <article class="card">
        <h2>Clients</h2>

        <ul class="list">
          {{#each customers}}
            <li class="list-item">
              {{nom}}
            </li>
          {{/each}}
        </ul>
      </article>
    </section>
  </main>

  {{> footer}}
</body>
</html>
